* {
  vertical-align: middle;
  text-align: center;
}

body {
  font-family: sans-serif;
  background-color: #121210;
  color: #fffff5;
}

a {
  cursor: pointer;
  color: white;
}

input {
  background-color: #121210;
  color: #fffff5;
  border-color: #333;
  border-radius: 5px;
  width: 100%;
  max-width: 500px;
}

button {
  background-color: #121210;
  color: #fffff5;
  border-color: #333;
  border-radius: 5px;
}



