* {
  vertical-align: middle;
  text-align: center;
}

body {
  font-family: sans-serif;
  background-color: #000;
  color: #fffff5;
}

a {
  cursor: pointer;
  color: white;
  text-decoration: none;
}

input {
  background-color: #121210;
  color: #fffff5;
  border-color: #333;
  border-radius: 5px;
  width: 95%;
  max-width: 300px;
  padding: 3px;
  margin: 5px;
  font-size: 12pt;

}

button {
  background-color: #121210;
  color: #fffff5;
  border-color: #333;
  border-radius: 5px;
}

.small-btn {
  max-width: 100px;
}

form {
  width: 99%;
  max-width: 460px;

  background-color: #151515;
  border-radius: 5px;

  text-align: right;
  display: inline-block;
}



