* {
  vertical-align: middle;
  text-align: center;
}

body {
  font-family: sans-serif;
  background-color: #121210;
  color: #fffff5;
}

a {
  cursor: pointer;
}

input {
  background-color: #121210;
  color: #fffff5;
  border-color: #333;
  border-radius: 5px;
  width: 100%;
  max-width: 500px;
}

button {
  background-color: #121210;
  color: #fffff5;
  border-color: #333;
  border-radius: 5px;
}

.youtube-container {
  overflow: hidden;
  width: 100%;
  height: 80%;
  /* Keep it the right aspect-ratio */
  aspect-ratio: 20/9;
  /* No clicking/hover effects */
  pointer-events: none;
}

.youtube-container iframe {
  /* Extend it beyond the viewport... */
  width: 300%;
  height: 100%;
  /* ...and bring it back again */
  margin-left: -100%;
}

.control-buttons {
  text-align: center;
}